name: Build on commit

on:
  push:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v3

      - name: Setup Gradle to generate and submit dependency graphs
        uses: gradle/gradle-build-action@v3
        with:
          dependency-graph: generate-and-submit

      - name: Run build
        run: ./gradlew build
