name: Publish library to GitHub Packages
on:
  workflow_dispatch:
    inputs:
      versionIncrementType:
        description: 'Version increment type'
        required: true
        type: choice
        options:
          - "incrementPatch"
          - "incrementMinor"
          - "incrementMajor"
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v6
      - name: Check branch
        run: |
          if [[ "${{ github.ref }}" != "refs/heads/main" ]]; then
            echo "Workflow can only run on 'main' branch."
            exit 1
          fi
      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v3
      - name: Release version
        run: ./gradlew release -Prelease.versionIncrementer=${{ github.event.inputs.versionIncrementType }}
      - name: Publish
        run: ./gradlew publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}